body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    margin-left: 20px;
    height: 70vh;
    width: 70%;
}

.row {
    width: 100%;
}
.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.textBox textarea {
    resize: none;
    padding: 6px;
    border: 1px solid #68798B;
    border-radius: 3px;
    font-size: 16px;
}

.textBox textarea:focus {
    box-shadow: 0px 0px 1px #2080FE;
    border: 1px solid #2080FE;
}

.textBox input[type=submit] {
    height: 36px;
    width: 96px;
    position: relative;
    left: 18px;
    bottom: 6px;
    color: white;
    background-color: #0B7EFE;
    border: 1px solid #68798B;
    border-radius: 4px;
    font-size: 18px;
}

.textBox input[type=submit]:hover {
    background-color: #3292fc;
}

.newPageTitle input[type=text] {
    margin-left: 20px;
    margin-bottom: 18px;
    padding: 2px;
    padding-left: 12px;
    border: 1px solid #68798B;
    border-radius: 3px;
    font-size: 18px;
}

.newPageTitle input[type=text]:focus{
    box-shadow: 0px 0px 1px #2080FE;
    border: 1px solid #2080FE;
}
