{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if newPage %}

        <h1>New Page</h1>
        <hr><br>
        <form class="textBox" id="content" action="{% url 'new' %}" method="post">
            <div class="newPageTitle">
                <input id=entryTitle type="text" name="t" placeholder="Page title">  
            </div>

    {% else%}
        
        <h1>Edit {{title}}</h1>
        <hr><br>
        <form class="textBox" id="content" action="{% url 'edit' title %}" method="post">
            <input type="hidden" name="t" value={{title}}>

    {% endif %}

            {% csrf_token %}

            <textarea name="c" form="content" rows="10" columns="90">{{ content }}</textarea>
            <input type="submit" value="Save">
        </form>

{% endblock %}